<br><hr>
  <form action="/category" method="GET">
    <label>Input Category Name</label>
    <input type="text" name="category_name" value="<%=searchOptions.category_name%>">
    <button type="submit">Search</button>
  </form>
<br><hr>
<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Type</th>
            <th scope="col">Join</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i <categories.length; i++) {%>
            <tr>
              <th scope="row"><%= [i+1]%></th>
              <td><%= categories[i].category_name%></td>
              <td><%= categories[i].type_name%></td>
              <td><%= categories[i].date%></td>              
              <td><a href="/category/<%= categories[i].category_name%>/<%= categories[i].type_name%>"><%= categories[i].category_name%>/<%= categories[i].type_name%></a></td>
            </tr>
        <% } %>
        </tbody>
</table>

<script> document.title = 'Leetcode Demo Home Pages' </script>
