<fieldset disabled>
<div class="form-group">
    <label for="number">Question Number</label>
    <input type="number" min="1" id="number" name="number" class="form-control" placeholder="Enter Question Number" value="<%= question.number %>"/>
</div>
</fieldset>
<div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" class="form-control" placeholder="Enter Question Title" value="<%= question.title %>"/>
</div>
<fieldset disabled>
<div class="form-group">
    <label for="category">Category</label>
    <input type="text" id="category" name="category" class="form-control" placeholder="Enter Category" value="<%= category.category_name %>"/>
</div>
<div class="form-group">
    <label for="type">Type</label>
    <input type="text" id="type" name="type" class="form-control" placeholder="Enter Type" value="<%= category.type_name %>"/>
</div>
</fieldset>
<div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="description"><%= question.description %></textarea>
</div>
<div class="form-group">
    <label for="disabledTextInput">Tip</label>
    <input type="text" id="tip" class="form-control" name="tip" value="<%= question.tip %>">
</div>
<div class="form-group">
    <label for="analyze">Analyze</label>
    <textarea id="analyze" class="form-control" name="analyze"><%= question.analyze %></textarea>
</div>
<div class="form-group">
    <label for="solution">Solution</label>
    <textarea id="solution" class="form-control" name="solution"><%= question.solution %></textarea>
</div>

