<br><hr>
  <form action="/question" method="GET">
    <div>
    <label>Input Question Name</label>
    <input type="text" name="title" value="<%=searchOptions.title%>">
    </div>
    <div>
    <label>Input Question Number</label>
    <input type="number" name="number" value="<%=searchOptions.number%>">
    </div>
    <button type="submit">Search</button>
  </form>
<br><hr>
<table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Category-Type</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i <questions.length; i++) {%>
            <tr>
              <th scope="row"><%=questions[i].number%></th>
              <td><%= questions[i].title%></td>
              <td><%= questions[i].type%></td>      
              <td><a href="/question/<%=questions[i].id%>">View</a></td>
              <td><a href="/question/<%=questions[i].id%>/edit">Edit</a></td>      
              <td><%- include('../partials/_delete_form', 
                             {url :`/question/${questions[i].id}`}) %></td>
            </tr>
        <% } %>
        </tbody>
</table>



<script> document.title = 'All Question List Pages' </script>