{{#extend "stylesheets"}}
<link rel="stylesheet" type="text/css" href="/stylesheets/user/kickstart.css" media="all" />
<link rel="stylesheet" type="text/css" href="/stylesheets/user/style.css" media="all" /> 
{{/extend}}
	
	{{> 1usernavigation }}

<div class="grid">
<div class="col_12">
	<blockquote>
	<p>Character Information</p>
	</blockquote>
    <h3><a class="btn btn-secondary" href="/users/characterinfoadd"><i class="fa fa-plus"></i> Create New</a> Character Information List</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Pg No.</th>
                <th>ID No.</th>
                <th>Name</th>
                <th>Level</th>
                <th>Job Title</th>
                <th>Class</th>
                <th>Category</th>
                <th>EffectLevel</th>
                <th>Location</th>
                <th>Chara_Skill</th>
            </tr>
        </thead>
        <tbody>
            {{#each charainfo}}
            <tr>
                <td>{{this.PageNo}}</td>
                <td>{{this.IdNo}}</td>
                <td>{{this.Character_Name}}</td>
                <td>{{this.Level}}</td>
                <td>{{this.Job_Title}}</td>
                <td>{{this.Class}}</td>
                <td>{{this.Category}}</td>
                <td>{{this.EffectLevel}}</td>
                <td>{{this.Location}}</td>
                <td>{{this.Chara_Skill}}</td>
                <td>
                    <a href="/users/characterinfoadd/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                    <a href="/users/characterinformation/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

	
	</div>
	<hr/>
</div>



{{#extend "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/javascripts/users/kickstart.js"></script> <!-- KICKSTART -->
<script> document.title = 'Maplestory Info Home Page' </script>
{{/extend}}
<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>